<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" defer></script>
    <script src="/js/script.js" defer></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/css/style.css">

    <title>Portfolio</title>
</head>

<body>
    <div class="sidebar">
        <div class="nav">
            <ul class="list">
                <li class="nav-list-item">
                    <a href="#" id="nav-expand">
                        <span class="icon">
                            <ion-icon name="grid"></ion-icon>
                        </span>
                        <span class="text">BABAji</span>
                    </a>
                </li>
                <li id="home-li" class="nav-list-item active"><a href="#home">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="text">Home</span>
                    </a></li>
                <li id="about-li" class="nav-list-item"><a href="#about">
                        <span class="icon">
                            <ion-icon name="person-circle-outline"></ion-icon>
                        </span>
                        <span class="text">About</span>
                    </a></li>
                <li id="projects-li" class="nav-list-item"><a href="#projects">
                        <span class="icon">
                            <ion-icon name="code-outline"></ion-icon>
                        </span>
                        <span class="text">Projects</span>
                    </a></li>
                <li id="team-li" class="nav-list-item"><a href="#team">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="text">Team</span>
                    </a></li>
                <li id="contact-li" class="nav-list-item"><a href="#contact">
                        <span class="icon">
                            <ion-icon name="mail-outline"></ion-icon>
                        </span>
                        <span class="text">Contact</span>
                    </a></li>
            </ul>
            <div class="intro">
                <span class="pic"><img src="android-chrome-512x512.png" alt=""></span>
                <div id="nameDate">
                    <div id="name">Aditya Singh</div>
                    <div id="date">DD/MM/YY</div>
                    <!-- insert date here -->
                </div>
            </div>
        </div>
    </div>

    <!-- homepage -->
    <div id="pages">
        <div id="home" class="homepage page active-page">
            <div class="left">
                <div class="container">
                    <p>Hello</p>
                    <h1>I'm Aditya</h1>
                    <p class="sub">Freelance Web Dev <br>& Student</p>
                    <a href="#contact"><button class="btn-contactMe">Contact</button></a>
                </div>
            </div>
            <div class="right"></div>
        </div>


        <!-- about page -->
        <div id="about" class="about-page page">
            <div class="left">
                <div class="pic">
                    <img src="/img/minion.webp" alt="">
                </div>
            </div>
            <div class="right">
                <section>
                    <h1>About Me</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic pariatur sequi fugit quod, quam
                        voluptatum
                        eos
                        maxime dicta officia molestiae error molestias ullam mollitia reiciendis, dignissimos doloremque
                        beatae?
                        Aliquam, nobis.
                        Ipsa, veniam alias? Eligendi, aperiam fuga illo eveniet libero alias facere labore ipsa aut
                        neque id
                        sint
                        quas dolor iure minus. Ut dolore obcaecati sint vel, sapiente similique quasi in?</p>
                    <br>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae nemo quas fuga placeat? Quibusdam
                        illo
                        in
                        magni provident temporibus adipisci tempore ipsam officiis porro eum, est optio, autem iusto
                        dolor.
                    </p>
                </section>
                <div class="button-container">
                    <a href="#contact">
                        <button>Contact</button>
                    </a>
                    <button>Download CV</button>
                </div>
            </div>
        </div>

        <!-- its after 3months that I'm touching this thing again and I've
        forgotten why exactly did I use ejs here
        I suppose it was so that all the components would have their own
        files hence reducing the clutter  -->
        <!-- TODO: Look into this -->

        <!-- projects -->
        <div id="projects" class="page">
            <div class="container">
                <div class="title-container">
                    <h1>Projects</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum deleniti vel cumque
                        veritatis,
                        consequuntur harum! Fugiat adipisci earum vel nam. Mollitia iste velit quod excepturi sed porro
                        quibusdam corrupti quas?</p>
                </div>
                <div class="project-container">
                    <a class="project">
                        <div></div>
                        <div class="description">
                            <!-- <h2 class="title">Project Title</h2>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p> -->
                        </div>
                    </a>
                    <a class="project">
                        <div></div>
                        <div class="description">
                            <!-- <h2 class="title">Project Title</h2>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p> -->
                        </div>
                    </a>
                    <a class="project">
                        <div></div>
                        <div class="description">
                            <!-- <h2 class="title">Project Title</h2>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p> -->
                        </div>
                    </a>
                    <a class="project">
                        <div></div>
                        <div class="description">
                            <!-- <h2 class="title">Project Title</h2>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p> -->
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- team -->
        <div id="team" class="page">
            <div class="container">
                <div class="title">
                    <h1>Team</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et ipsum voluptatum ut, distinctio odit
                        assumenda, necessitatibus, illo ducimus sint quas ad
                        debitis veritatis.</p>
                </div>
                <div class="list">
                    <div class="card">
                        <h3>Aditya</h3>
                        <p>Ain't much...but its honest work😥</p>
                    </div>
                    <div class="card">
                        <h3>Someone</h3>
                        <p>Still trying to figure this one out 😐</p>
                    </div>
                    <div class="card">
                        <h3>Someone pt.2</h3>
                        <p>Don't even 🤧🤧</p>
                    </div>
                </div>
            </div>

            <!--  -->
        </div>
        <!-- contact -->
        <div id="contact" class="page">
            <div class="container">
                <div class="top">
                    <!-- a svg background -->
                    <div></div>
                    <h1>Got a project?</h1>
                </div>
                <div class="bottom">
                    <!-- some sorta logo thing -->
                    <button>HIRE ME</button>
                    <!-- some ending notes -->
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <div class="social-buttons">
                        <button class="social">
                            <img src="/img/instagram.svg" alt="instagram icon">
                        </button>
                        <button class="social">
                            <img src="/img/twitter.svg" alt="twitter icon">
                        </button>
                        <button class="social">
                            <img src="/img/github.svg" alt="github icon">
                        </button>
                        <button class="social">
                            <img src="/img/mail.svg" alt="mail icon">
                        </button>
                    </div>
                    <footer>Copyright © 😑 meh</footer>
                </div>
            </div>
        </div>
    </div>

</body>

</html>