@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  color: white;
}

:root {
  --primary-1: #2c2c2c;
  --primary-2: #313131;
  --secondary: #ffb633;
  --text-grayish: #837f8a;
}

/* make two classes 
one for toggle active and other for inactive
active will be expanded and inactive just icons */

/* toggle inactive */
.sidebar {
  max-width: 5rem;
  min-width: 5rem;
  background: #0e0e19;
  /* background: #23233f; */
  min-height: 100vh;
  opacity: 90%;
  display: flex;
  padding: 1rem;
}

.sidebar .nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar .nav .list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 50vh;
  align-items: center;
  list-style: none;
}

.sidebar .nav .list .nav-list-item a {
  text-decoration: none;
}
.sidebar .nav .list .nav-list-item a .text {
  display: none;
}

.sidebar .nav .list .nav-list-item a .icon {
  font-size: 2rem;
  /* color: antiquewhite; */
  color: var(--text-grayish);
}

.sidebar .nav .intro #nameDate {
  display: none;
}
.sidebar .nav .intro .pic img {
  width: 3rem;
  min-width: 3rem;
  border-radius: 50%;
}

.sidebar .nav .list .nav-list-item a .icon:hover,
.sidebar .nav .list .nav-list-item.active a .icon {
  color: aliceblue;
  transition: 250ms;
}

.sidebar .nav .list .nav-list-item.active::before {
  content: "";
  position: absolute;
  height: 2.5rem;
  width: 0.5rem;
  background: whitesmoke;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 0;
}

/* tooltip stuff */
.nav-list-item::after {
  content: "";
  position: absolute;
  padding: 0.5rem;
  background: var(--text-grayish);
  color: white;
  font-size: 0.7rem;
  border-radius: 10px;
  transform: scale(0);
  transform-origin: -1rem;
  transition: transform 150ms ease-in-out, content 150ms ease-in-out;
  right: 0.1rem;
}
.nav-list-item:hover::after {
  transform: scale(1);
}
.nav-list-item:nth-child(1):hover::after {
  content: "Expand";
}
.nav-list-item:nth-child(2):hover::after {
  content: "Home";
}
.nav-list-item:nth-child(3):hover::after {
  content: "About";
}
.nav-list-item:nth-child(4):hover::after {
  content: "Projects";
}
.nav-list-item:nth-child(5):hover::after {
  content: "Team";
}
.nav-list-item:nth-child(6):hover::after {
  content: "Contacts";
}

/* sidebar expanded stuff */
.sidebar .nav .intro {
  color: antiquewhite;
}
.sidebar .nav .intro #date {
  font-size: 0.7rem;
  color: grey;
}

/* homepage */
body {
  display: flex;
  flex-direction: column;
}

.homepage {
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
  min-width: 100vw;
}

.homepage .left {
  background: var(--primary-1);
  min-width: 60vw;
  flex: 2;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.homepage .left .container p {
  color: var(--text-grayish);
}

.homepage .left .container h1 {
  color: var(--secondary);
}

.homepage .left .container .sub {
  color: azure;
}

.homepage .left .container .btn-contactMe,
#about .right .button-container button {
  margin-top: 1rem;
  border: 0.1rem solid var(--secondary);
  background-color: transparent;
  padding: 0.4rem 2rem;
  color: var(--secondary);
  border-radius: 0.2rem;
}

.homepage .left .container .btn-contactMe:hover,
#about .right .button-container button:hover {
  background-color: var(--secondary);
  color: azure;
}

.homepage .right {
  background: var(--secondary);
  /* width: 40vw; */
  flex: 1;
}

.sidebar {
  position: absolute;
}

#pages .page {
  display: none;
}

#pages .active-page {
  display: flex;
}

.about-page {
  padding-left: 5.5rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-2);
}

.about-page .left {
  flex: 1 1 12rem;
  width: 100%;
}
.about-page .right {
  flex: 2 2;
  width: 100%;
}
.about-page .left .pic img {
  width: 18rem;
  height: 25rem;
  border: 0.6rem solid #3e3e3e;
  margin-bottom: 2rem;
  margin-left: 2rem;
  position: relative;
}

.about-page .left .pic {
  margin-left: 8rem;
  position: relative;
}

.about-page .right section {
  margin-right: 18rem;
  font-weight: 200;
  position: relative;
}

.about-page .right section h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  position: relative;
}

#about .right .button-container button {
  margin-right: 1rem;
}

#about .left .pic:before {
  content: "";
  position: absolute;
  width: 18rem;
  height: 24.5rem;
  top: 20px;
  border: 0.6rem solid var(--secondary);
}

.about-page .right section h1::after {
  content: "";
  height: 2px;
  width: 20%;
  background: var(--secondary);
  position: absolute;
  left: -6%;
  bottom: 0px;
}
.homepage .left .container a,
#about .right .button-container a {
  text-decoration: none;
}

#projects {
  padding-left: 5.5rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--primary-1);
}

#projects .container {
  margin: 0 10rem;
}

.project-container {
  margin-left: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 50vh;
}

.project-container .project {
  width: 100%;
  border-radius: 10px;
}

.project-container .project:nth-child(1) {
  background: no-repeat url("/img/project-bg.jpg");
  z-index: 0;
}
.project-container .project:nth-child(2) {
  background: no-repeat url("/img/project-bg.jpg");
  z-index: 0;
}
.project-container .project:nth-child(3) {
  background: no-repeat url("/img/project-bg.jpg");
  z-index: 0;
}
.project-container .project:nth-child(4) {
  background: no-repeat url("/img/project-bg.jpg");
  z-index: 0;
}

.project-container .project:nth-child(1) div {
  height: 100%;
  background: rgb(56, 223, 255);
  background: linear-gradient(
    90deg,
    rgba(56, 223, 255, 1) 0%,
    rgba(53, 192, 251, 1) 41%,
    rgba(35, 127, 231, 1) 98%
  );
  z-index: 1;
  opacity: 0.8;
}
.project-container .project:nth-child(2) div {
  height: 100%;
  background: rgb(248, 215, 77);
  background: linear-gradient(
    90deg,
    rgba(248, 215, 77, 1) 0%,
    rgba(244, 194, 69, 1) 41%,
    rgba(207, 142, 38, 1) 98%
  );
  z-index: 1;
  opacity: 0.8;
}
.project-container .project:nth-child(3) div {
  height: 100%;
  background: rgb(240, 85, 175);
  background: linear-gradient(
    90deg,
    rgba(240, 85, 175, 1) 0%,
    rgba(217, 84, 203, 1) 41%,
    rgba(153, 55, 208, 1) 98%
  );
  z-index: 1;
  opacity: 0.8;
}
.project-container .project:nth-child(4) div {
  height: 100%;
  background: rgb(50, 196, 149);
  background: linear-gradient(
    90deg,
    rgba(50, 196, 149, 1) 0%,
    rgba(42, 202, 106, 1) 41%,
    rgba(5, 181, 28, 1) 98%
  );
  z-index: 1;
  opacity: 0.8;
}

.project-container a {
  text-decoration: none;
  cursor: pointer;
}

.title-container {
  margin-bottom: 5rem;
  max-width: 50%;
}
.title-container h1 {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
}

.title-container h1::after {
  content: "";
  height: 3px;
  width: 20%;
  background: var(--secondary);
  position: absolute;
  left: -6%;
  bottom: 0px;
}

.title-container p {
  color: var(--text-grayish);
}

#team {
  padding-left: 5.5rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--primary-2);
}

#team .container .title {
  position: relative;
}

#team .container .title h1::after {
  content: "";
  height: 3px;
  width: 10%;
  background: var(--secondary);
  position: absolute;
  left: -6%;
  top: 2.5rem;
}
#team .container {
  margin: 0 10rem;
}
#team .list {
  margin-top: 2rem;
  display: flex;
}

#team .list .card {
  height: 20rem;
  width: 20rem;
  padding: 1rem;
  border: 1px solid whitesmoke;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#team .list .card h3 {
  margin-bottom: 1rem;
}

#team .list .card p {
  color: var(--text-grayish);
}
#team .list .card:first-child {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  border-right: none;
}

#team .list .card:first-child p {
  color: whitesmoke;
}
#team .list .card:nth-child(2) {
  border-right: none;
  border-left: none;
}

#team .title p {
  width: 50%;
  margin-top: 1rem;
  color: var(--text-grayish);
}

#contact {
  padding-left: 5.5rem;
  height: 100vh;
  display: flex;
  align-items: center;

  flex-direction: column;
  background: var(--primary-1);
}

#contact .container {
  margin: 0 10rem;
}

#contact .container .top {
  background: url("/img/lastPg.svg") 2rem;
  /*   width: calc(100vw-5.5rem); */
  width: 95vw;
  height: 50vh;
  z-index: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

#contact .container .top > div:nth-child(1) {
  background: var(--secondary);
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

#contact .container .top > h1::after {
  content: "";
  height: 3px;
  width: 25%;
  background: whitesmoke;
  position: absolute;
  left: 37%;
  top: 7.3rem;
}
#contact .container .top > h1 {
  z-index: 2;
  font-size: 5rem;
  margin-bottom: 1rem;
  position: relative;
}

#contact .container .bottom > button {
  padding: 1rem 2.5rem;
  font-size: 1.4rem;
  color: black;
  background-color: antiquewhite;
  border: none;
  border-radius: 10px;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
  margin-top: 1rem;
  cursor: pointer;
  margin-bottom: 5rem;
}

#contact .container .bottom > button:hover {
  background-color: var(--secondary);
  color: antiquewhite;
}

#contact .container .bottom .social-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
  margin-top: 0.5rem;
}
.social-buttons button {
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: var(--primary-1);
  border-radius: 10px;
  transition: background 150ms ease-in-out, width 150ms ease-in-out,
    height 150ms ease-in-out;
}

.social-buttons button:hover {
  width: 28px;
  height: 28px;
  padding: 2px;
  background: var(--secondary);
}
#contact .social {
  margin-right: 0.5rem;
}

#contact .bottom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact footer {
  color: var(--text-grayish);
  font-size: 0.8rem;
}

#contact .bottom p {
  color: var(--text-grayish);
}
#contact footer::before {
  content: "";
  height: 1px;
  width: 50vw;
  background: var(--text-grayish);
  position: absolute;
  left: 25%;
  top: 90%;
}
